* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .home {
    height: 760px;
    padding-top: 40vh;
    
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("vanh444.jpg") center ;
    background-size: cover;
  }
  .home__greeting {
    width: 40%;
  }
  .home__name {
    font-size: 80px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    position: relative;
    border-bottom:solid #fff;
  }
  .home__name--last {
    color: #ff652f;
    font-weight: 700;
  }
  .home .centered__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    position: absolute;
    margin-right: 30px;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger.open {
    background: transparent;
  }
  .menu-btn__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .menu-btn__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.95;
    visibility: hidden;
  }
  .nav.open {
    visibility: visible;
  }
  .nav .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background: #272727;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav.open {
    transform: translateY(0);
  }
  .nav .menu-nav__item {
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav__item.open {
    transform: translateX(0);
  }
  .nav .menu-nav__item.active > a {
    color: #ff652f;
  }
  .nav .menu-nav__link {
    display: inline-block;
    font-size: 2rem;
    padding: 2rem 0;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-nav__link:hover {
    color: #ff652f;
  }
  
  .menu-nav__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  
  .menu-nav__item:nth-child(2) {
    transition-delay: 0.35s;
  }
  
  .menu-nav__item:nth-child(3) {
    transition-delay: 0.45s;
  }
  
  .menu-nav__item:nth-child(4) {
    transition-delay: 0.55s;
  }
  
  .about {
    padding-bottom: 2rem;
  }
  .about__bio-image {
    height: 60vh;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("vanh555.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .about__bio-image p {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .about__bio {
    width: 80%;
    text-align: center;
  }
  .about__bio .text-secondary {
    padding-bottom: 1rem;
  }
  .about .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .about .jobs__job {
    background: #414141;
    padding: 0.5rem;
    border-bottom: 5px solid #ff652f;
  }
  .about .jobs__job .link {
    color: lightblue;
  }
  .about .jobs__job p {
    margin: 1rem 0;
  }
  .about .jobs h2, .about .jobs h3 {
    margin: 0.5rem 0;
  }
  .about .jobs h5 {
    margin: 0.3rem 0;
  }
  .about .jobs ul {
    list-style-type: none;
  }
  .about .jobs ul li {
    padding: 3px 15px;
  }
  .about .social-icons {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  
  
  .projects {
    padding-bottom: 2rem;
  }
  .projects__bio-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("prj1.avif") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .projects__bio-image .text-secondary {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .projects__items {
    width: 60vw;
    margin: 4rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
  .projects__item {
    position: relative;
    border-bottom: 5px solid #ff652f;
   
    cursor: pointer;
  }
  .projects__item img {
    width: 100%;
  }
  .projects__item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff652f;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .projects__item:hover::after {
    top: 0;
    opacity: 0.8;
  }
  .projects__item__name{
   text-align: center;
   font-size: 25px;
   color:whitesmoke;
  }
  
  .projects__btns {
    position: absolute;
    top: 50%;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    align-items: center;
    text-align: center;
  }
 
  .projects__btn:hover {
    color: #000;
  }
  
  .contact {
    height: 750px;
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.5)), url("contact3.avif") ;
    background-size: cover;
    margin-top: 10px;
  }
  
  .contact__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    font-size: 1rem;
    margin-top: 200px
  }
  
  .contact .text-secondary {
    margin-top: 10px;
  }
  
  
  @media screen and (max-width: 768px) and (min-width: 100px) {
    .home {
      font-size: 10px;
    }
    .home .social-icons {
      display: flex;
      flex-direction: column;
    }
     .social-icons {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
    }
    .container{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

    }
    .testimonial{
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .menu-btn {
      visibility: hidden;
    }
    .nav {
      visibility: visible;
    }
    .nav .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: center;
    }
    .nav .menu-nav__item {
      display: inline;
      padding-right: 1.5rem;
    }
    .nav .menu-nav__link {
      font-size: 1.5rem;
    }
    .about__bio {
      font-size: 1.5rem;
    }
    .projects__bio-image {
      height: 40vh;
    }
    .projects__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .projects .text-secondary {
      font-size: 3rem;
    }
    .contact__list {
      flex: repeat(2, 1fr);
    }
    
   
  }
  
  body {
    background: #272727;
    color: #fff;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
  }
  
  h1, h2, h3 {
    font-weight: 400;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .text-secondary {
    color: #ff652f;
  }
  
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
  }
  
  main {
    height: 100%;
    width: 100%;
  }
  main .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
  main .social-icons a {
    padding: 0.4rem;
    transition: all 0.5s ease-in-out;
  }
  main .social-icons a:hover {
    color: #ff652f;
  }
  .projects .social-icons {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  .about{
    position: relative;
    margin-top: 60px;
  }
  .projects{
    margin-top: 30px;
  }
  
  .test {
    display: flex;
    flex-direction: row;
    height: 650px;
   

}


.container {
  
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
  height: 1300px;
  grid-template-rows: 1fr;
  grid-gap: 16px;
  


  
  
}

.testimonial {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
 
  border-radius: 10px;
  margin-top: 120px;
  
}

.testimonial:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
 
}

.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  position: relative;
  z-index: 2;
}

.testimonial h3 {
  margin-top: 20px;
  font-size: 40px;
  color:#ff652f;
  
}

.testimonial p {
  margin-top: 15px;
  font-style: italic;
  color:#fff;

}

.testimonial:hover:before {
  animation: fade 0.5s ease forwards;
}
#test1{
  flex:1;
  background-color: #414141;
  
  height: 500px ;
}
#test2{
  flex:1;
  background-color: #414141;
  
  height: 500px ;
}
.cus{
  margin-top: 60px;
 
  
}
.tl{
  font-size: 50px;
  margin-top: 20px;
  margin-left: 300px;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-btn:hover .dropdown-content {
  display: block;
  transition: transform 0.5s ease-in-out;
    transform: translateX(-150px);
    background-color: #414141;
    
}
.dropdown-content a{
  
  background-color: #ff652f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
    
    border: solid 1px;
}
#home{
  transition: all 0.5s ease;
}
#about{
  transition: all 0.5s ease;
}
#projects{
  transition: all 0.5s ease;
}
#testimonials{
  transition: all 0.5s ease;
}
#contact{
  transition: all 0.5s ease;
}

  
  
  
  
  